.navigation {
  /* position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px; */
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vh - 1000px) / 2);
  background: linear-gradient(#1e262c, #439db1);
  z-index: 10;
}

.hover {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%auto;
  cursor: pointer;
}
.navMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;

  @media screen {
    display: none;
  }
}
.bars {
  display: none;
  color: red;
  @media screen {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.nav-active {
  color: #15cdcf;
}
ul:hover li:not(:hover) {
  opacity: 0.5;
}
ul:hover li:hover {
  color: #15cdcf;
}
.contact-form {
  position: absolute;
  margin-top: 220px;
}

/************* Contact **************/

#name {
  margin-bottom: 1rem;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
#phone {
  margin-bottom: 1rem;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
#email {
  margin-bottom: 1rem;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
#subject {
  margin-bottom: 1rem;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.btn {
  flex: nowrap;
  padding: 12px 16px;
  border-width: 1px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 10px 20px -6px rgb(0 0 0 / 12%);
  position: relative;
  margin-bottom: 20px;
  color: #fff;
  background-color: #fe5700;
}
/************* Contact **************/

h2 {
  color: #fe5700;
  font-weight: bold;
  text-align: center;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
  color: #fe5700;
}
/* Register*/
.container {
  position: absolute;
  width: 375px;
  height: 1015px;
  left: 0px;
  top: 0px;
}

.finDePageRegister {
  position: absolute;
  left: 15.67%;
  right: 15.67%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

/* Register*/

/* Accueil */
.carousel {
  display: block;
  box-sizing: border-box;
}
.test {
  display: block;
  border-radius: 14px;
  background: #fff;
}
.utilisateur {
  height: 60px;
  width: 80px;
}
a {
  margin-left: 20px;
}

/* Accueil */
